.Job {
    background-color: lightgrey;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    width: 50rem;
    height: 9rem;
}

.Job p {
    margin: 5px;
}

.Job button {
    height: 30px;
    margin-right: 0px;
    margin-left: auto;
    margin-top: auto;
    color: red;
    font-weight: bolder;
    border-radius: 5px;
}

.Job button:disabled {
    background-color: grey;
    color: white;
}